@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Light.ttf"); }
@font-face {
  font-family: 'ralewayThin';
  src: url("../fonts/Raleway-Thin.ttf"); }
.marg0 {
  margin: 0; }

.width100 {
  width: 100%; }

.padd0 {
  padding: 0; }

.relate {
  position: relative; }

.display-inblock {
  display: inline-block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: raleway; }

.logo {
  padding: 50px 0 50px; }
  .logo .custom-logo {
    width: 252px;
    margin: 0 auto; }

.home-block {
  cursor: pointer; }
  .home-block .home-block__img {
    margin: 0 auto;
    filter: grayscale(100%);
    transition: all ease 2s; }
    .home-block .home-block__img:hover {
      filter: grayscale(0);
      transition: all ease 2s; }
  .home-block h4 {
    text-align: center;
    text-transform: uppercase;
    color: #aa8140;
    margin: 20px 0; }

.category-sec .padd44 {
  padding: 0 44px 44px 44px; }
.category-sec .categ-block .categ-block__name {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translate(0%, -50%);
  color: #fff;
  font-family: raleway;
  text-transform: uppercase; }
.category-sec .categ-block .categ-block__img {
  margin: 0 auto;
  filter: grayscale(100%); }
.category-sec .categ-block .overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: all ease 2s; }
.category-sec .categ-block:hover .overlay {
  opacity: 1;
  transition: all ease 2s; }
.category-sec .video {
  background: #808080;
  min-height: 430px; }
  .category-sec .video .play-center {
    font-size: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
.category-sec .color-back {
  background: #aa8140; }
  .category-sec .color-back h1 {
    color: #fff;
    margin: 32px 0 0 14px;
    text-transform: uppercase; }
.category-sec .social {
  margin: 32px 14px 0 0; }
  .category-sec .social .social__textlinks li {
    text-align: right;
    padding: 2px 0; }
    .category-sec .social .social__textlinks li a {
      color: #fff;
      font-family: raleway;
      letter-spacing: 2px; }
      .category-sec .social .social__textlinks li a:hover {
        text-decoration: none; }
.category-sec .main-flex {
  display: flex;
  flex-wrap: no-wrap;
  height: 100%; }
  .category-sec .main-flex .col-flex {
    flex: 1; }

.video1 {
  height: 100%;
  width: 100%; }

.fashion-sec {
  font-family: raleway; }
  .fashion-sec .cross {
    top: 50%;
    right: 16px;
    font-size: 40px;
    transform: translate(0, -50%);
    position: absolute;
    color: #fff;
    opacity: 1; }
  .fashion-sec .bg-modalcolor {
    background: #aa8140; }
    .fashion-sec .bg-modalcolor h4 {
      color: #fff !important; }
    .fashion-sec .bg-modalcolor .captcha {
      color: #97e16a;
      margin: 0;
      padding: 3px 12px;
      font-size: 18px;
      font-weight: 700; }
    .fashion-sec .bg-modalcolor textarea.form-control {
      resize: none; }
  .fashion-sec .crumb {
    background: transparent; }
    .fashion-sec .crumb li > a {
      color: #000; }
    .fashion-sec .crumb li a:hover,
    .fashion-sec .crumb li a:focus {
      text-decoration: none; }
  .fashion-sec .style-block .style-block__name li:first-child,
  .fashion-sec .style-block .style-block__color li:first-child {
    min-width: 18%; }
  .fashion-sec .style-block .style-block__color li span {
    width: 22px;
    height: 22px;
    display: block;
    background: #dedede;
    border: 1px solid #000; }
  .fashion-sec .style-block .style-block__color li span:nth-child(1) {
    background: #f1016c; }
  .fashion-sec .style-block .style-block__color li span:nth-child(2) {
    background: #f97c59; }
  .fashion-sec .style-block .style-block__color .color-box span {
    display: inline-block;
    vertical-align: bottom; }
  .fashion-sec .bottom-marg {
    margin-bottom: 40px; }
    .fashion-sec .bottom-marg h1,
    .fashion-sec .bottom-marg h4 {
      color: #aa8140;
      font-weight: 700;
      margin: 10px 0; }

.customize-btn, .footer-sec .footer__submit-btn {
  font-family: raleway;
  background: #aa8140;
  color: #fff;
  letter-spacing: 1px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  width: 20%; }
  .customize-btn:hover, .footer-sec .footer__submit-btn:hover, .customize-btn:focus, .footer-sec .footer__submit-btn:focus, .customize-btn:active, .footer-sec .footer__submit-btn:active {
    background: #947138;
    color: #fff;
    outline: none; }

.customize-btn.active.focus, .footer-sec .active.focus.footer__submit-btn,
.customize-btn.active:focus,
.footer-sec .active.footer__submit-btn:focus,
.customize-btn.focus,
.footer-sec .focus.footer__submit-btn,
.customize-btn:active.focus,
.footer-sec .footer__submit-btn:active.focus,
.customize-btn:active:focus,
.footer-sec .footer__submit-btn:active:focus,
.customize-btn:focus,
.footer-sec .footer__submit-btn:focus {
  outline: none;
  border-radius: 8px;
  background: #947138;
  color: #fff; }

.footer-sec {
  background: #aa8140; }
  .footer-sec .footer1 {
    padding: 44px; }
    .footer-sec .footer1 .mt80 {
      margin-top: 80px; }
  .footer-sec .footer2 {
    padding: 0px 44px 22px; }
    .footer-sec .footer2 .social-icon li {
      padding: 0 20px 0 0; }
      .footer-sec .footer2 .social-icon li a {
        color: #fff;
        font-size: 30px; }
    .footer-sec .footer2 p {
      color: #fff;
      letter-spacing: 1px;
      font-family: raleway; }
      .footer-sec .footer2 p a {
        color: #fff; }
  .footer-sec .footer__submit-btn {
    background: #fff;
    color: #aa8140;
    width: 30%; }
  .footer-sec h3 {
    color: #fff;
    letter-spacing: 1px; }
  .footer-sec .font-icon li {
    position: relative; }
    .footer-sec .font-icon li p {
      color: #fff;
      padding: 16px 40px 0;
      font-family: raleway; }
      .footer-sec .font-icon li p a {
        color: #fff; }
    .footer-sec .font-icon li:before {
      font-family: FontAwesome;
      position: absolute;
      top: 8px;
      left: 0;
      color: #fff;
      font-size: 26px; }
  .footer-sec .font-icon li:nth-child(1):before {
    content: '\f041'; }
  .footer-sec .font-icon li:nth-child(2):before {
    content: '\f095'; }
  .footer-sec .font-icon li:nth-child(3):before {
    content: '\f0e0'; }

.women-sec .custom-nav li a {
  border-radius: 0;
  color: #fff;
  background: #d8c094; }
.women-sec .nav-tabs > li.active > a,
.women-sec .nav-tabs > li.active > a:focus,
.women-sec .nav-tabs > li.active > a:hover {
  background: #aa8140;
  color: #fff; }
.women-sec .women-category {
  margin: 30px -5px 30px -5px; }
  .women-sec .women-category a {
    display: block;
    float: left;
    position: relative;
    padding: 5px; }
  .women-sec .women-category a:nth-child(6n+1) {
    width: 50%; }
  .women-sec .women-category a:nth-child(2) {
    width: 25%; }
  .women-sec .women-category a:nth-child(3) {
    width: 25%; }
  .women-sec .women-category a:nth-child(4) {
    width: 50%; }
  .women-sec .women-category a:nth-child(5) {
    width: 25%; }
  .women-sec .women-category a:nth-child(6) {
    width: 25%; }
  .women-sec .women-category a:nth-child(7) {
    width: 25%; }
  .women-sec .women-category a:nth-child(8) {
    width: 25%; }
  .women-sec .women-category a:nth-child(9) {
    padding: 0;
    width: 100%; }
  .women-sec .women-category a:nth-child(10) {
    width: 25%; }
  .women-sec .women-category a:nth-child(11) {
    width: 25%; }
  .women-sec .women-category a:nth-child(12) {
    width: 25%; }
  .women-sec .women-category a:nth-child(13) {
    width: 25%; }
.women-sec .frame ul {
  float: left;
  margin-bottom: 0; }
  .women-sec .frame ul li {
    padding: 5px;
    margin: -1px; }
.women-sec .frame ul:nth-child(1) {
  width: 25%; }
.women-sec .frame ul:nth-child(2) {
  width: 50%; }
.women-sec .frame ul:nth-child(3) {
  width: 25%; }

.filter-sec .vertical-nav li {
  float: none; }
.filter-sec .interior a {
  display: block;
  float: left;
  position: relative;
  padding: 5px; }
.filter-sec .interior a:nth-child(1) {
  width: 25%; }
.filter-sec .interior a:nth-child(2) {
  width: 75%; }

/*# sourceMappingURL=main.css.map */
