@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Light.ttf"); }
@font-face {
  font-family: 'ralewayThin';
  src: url("../fonts/Raleway-Thin.ttf"); }
.marg0 {
  margin: 0; }

.width100 {
  width: 100%; }

.padd0 {
  padding: 0; }

.relate {
  position: relative; }

.display-inblock {
  display: inline-block; }

a:focus {
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: raleway; }

.modal {
  text-align: center;
  padding: 0 !important; }

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

.logo {
  padding: 50px 0 50px; }
  .logo .custom-logo {
    width: 252px;
    margin: 0 auto; }

.home-sec a:hover {
  text-decoration: none; }

.home-block {
  cursor: pointer; }
  .home-block .home-block__img {
    margin: 0 auto;
    filter: grayscale(100%);
    transition: all ease 2s; }
    .home-block .home-block__img:hover {
      filter: grayscale(0);
      transition: all ease 2s; }
  .home-block h4 {
    text-align: center;
    text-transform: uppercase;
    color: #aa8140;
    margin: 20px 0; }

.category-sec .padd44 {
  padding: 0 44px 44px 44px; }
.category-sec .categ-block .categ-block__name {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translate(0%, -50%);
  color: #fff;
  font-family: raleway;
  text-transform: uppercase; }
.category-sec .categ-block .categ-block__img {
  margin: 0 auto;
  filter: grayscale(100%); }
.category-sec .categ-block .overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: all .6s ease 0s; }
.category-sec .categ-block:hover .overlay {
  opacity: 1;
  transition: all .6s ease 0s; }
.category-sec .video {
  background: #808080;
  min-height: 430px; }
  .category-sec .video .play-center {
    font-size: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
.category-sec .color-back {
  background: #aa8140; }
  .category-sec .color-back h1 {
    margin: 32px 0 0 14px; }
    .category-sec .color-back h1 a {
      color: #fff;
      text-transform: uppercase; }
      .category-sec .color-back h1 a:hover {
        text-decoration: none; }
.category-sec .social {
  margin: 32px 14px 0 0; }
  .category-sec .social .social__textlinks li {
    text-align: right;
    padding: 2px 0; }
    .category-sec .social .social__textlinks li a {
      color: #fff;
      font-family: raleway;
      letter-spacing: 2px; }
      .category-sec .social .social__textlinks li a:hover {
        text-decoration: none; }
.category-sec .main-flex {
  display: flex;
  flex-wrap: no-wrap;
  height: 100%; }
  .category-sec .main-flex .col-flex {
    flex: 1; }

.video1 {
  height: 100%;
  width: 100%; }

.fashion-sec {
  font-family: raleway; }
  .fashion-sec .cross {
    top: 50%;
    right: 16px;
    font-size: 40px;
    transform: translate(0, -50%);
    position: absolute;
    color: #fff;
    opacity: 1; }
  .fashion-sec .bg-modalcolor {
    background: #aa8140; }
    .fashion-sec .bg-modalcolor h4 {
      color: #fff !important; }
    .fashion-sec .bg-modalcolor .captcha {
      color: #97e16a;
      margin: 0;
      padding: 3px 12px;
      font-size: 18px;
      font-weight: 700; }
    .fashion-sec .bg-modalcolor textarea.form-control {
      resize: none; }
  .fashion-sec .crumb {
    background: transparent; }
    .fashion-sec .crumb li > a {
      color: #000; }
    .fashion-sec .crumb li a:hover,
    .fashion-sec .crumb li a:focus {
      text-decoration: none; }
  .fashion-sec .style-desc p {
    text-align: justify; }
  .fashion-sec .style-block .style-block__name li:first-child,
  .fashion-sec .style-block .style-block__color li:first-child {
    min-width: 18%; }
  .fashion-sec .style-block .style-block__color li span {
    width: 22px;
    height: 22px;
    display: block;
    background: #dedede;
    border: 1px solid #000; }
  .fashion-sec .style-block .style-block__color li span:nth-child(1) {
    background: #f1016c; }
  .fashion-sec .style-block .style-block__color li span:nth-child(2) {
    background: #f97c59; }
  .fashion-sec .style-block .style-block__color .color-box span {
    display: inline-block;
    vertical-align: bottom; }
  .fashion-sec .bottom-marg {
    margin-bottom: 40px; }
    .fashion-sec .bottom-marg h1,
    .fashion-sec .bottom-marg h4 {
      color: #aa8140;
      font-weight: 700;
      margin: 10px 0; }
  .fashion-sec .style-btn a {
    width: 20%; }
    .fashion-sec .style-btn a .customize-btn, .fashion-sec .style-btn a .footer-sec .footer__submit-btn, .footer-sec .fashion-sec .style-btn a .footer__submit-btn {
      width: 100%; }

.customize-btn, .footer-sec .footer__submit-btn {
  font-family: raleway;
  background: #aa8140;
  color: #fff;
  letter-spacing: 1px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  width: 20%; }
  .customize-btn:hover, .footer-sec .footer__submit-btn:hover, .customize-btn:focus, .footer-sec .footer__submit-btn:focus, .customize-btn:active, .footer-sec .footer__submit-btn:active {
    background: #947138;
    color: #fff;
    outline: none; }

.customize-btn.active.focus, .footer-sec .active.focus.footer__submit-btn,
.customize-btn.active:focus,
.footer-sec .active.footer__submit-btn:focus,
.customize-btn.focus,
.footer-sec .focus.footer__submit-btn,
.customize-btn:active.focus,
.footer-sec .footer__submit-btn:active.focus,
.customize-btn:active:focus,
.footer-sec .footer__submit-btn:active:focus,
.customize-btn:focus,
.footer-sec .footer__submit-btn:focus {
  outline: none;
  border-radius: 8px;
  background: #947138;
  color: #fff; }

.footer-sec {
  background: #aa8140; }
  .footer-sec .footer1 {
    padding: 44px; }
    .footer-sec .footer1 .mt40 {
      margin-top: 40px; }
  .footer-sec .footer2 {
    padding: 0px 44px;
    background: #947138; }
    .footer-sec .footer2 .social-icon {
      margin: 8px 0; }
      .footer-sec .footer2 .social-icon li {
        padding: 0 20px 0 0; }
        .footer-sec .footer2 .social-icon li a {
          color: #fff;
          font-size: 30px; }
    .footer-sec .footer2 p {
      color: #fff;
      letter-spacing: 1px;
      font-family: raleway;
      margin: 18px 0; }
      .footer-sec .footer2 p a {
        color: #fff; }
  .footer-sec .footer__submit-btn {
    background: #fff;
    color: #aa8140;
    width: auto; }
  .footer-sec h3 {
    color: #fff;
    letter-spacing: 1px; }
  .footer-sec .font-icon li {
    position: relative; }
    .footer-sec .font-icon li p {
      color: #fff;
      padding: 16px 40px 0;
      font-family: raleway; }
      .footer-sec .font-icon li p a {
        color: #fff; }
    .footer-sec .font-icon li:before {
      font-family: FontAwesome;
      position: absolute;
      top: 8px;
      left: 0;
      color: #fff;
      font-size: 26px; }
  .footer-sec .font-icon li:nth-child(1):before {
    content: '\f041'; }
  .footer-sec .font-icon li:nth-child(2):before {
    content: '\f095'; }
  .footer-sec .font-icon li:nth-child(3):before {
    content: '\f0e0'; }

.women-sec .women-modal {
  padding: 20px;
  text-align: justify; }
.women-sec .custom-nav li a {
  border-radius: 0;
  color: #fff;
  background: #d8c094; }
.women-sec .nav-tabs > li.active > a,
.women-sec .nav-tabs > li.active > a:focus,
.women-sec .nav-tabs > li.active > a:hover {
  background: #aa8140;
  color: #fff; }
.women-sec .custom-modal {
  position: relative; }
  .women-sec .custom-modal .cross-click {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    opacity: 1; }
    .women-sec .custom-modal .cross-click:focus {
      outline: none; }
.women-sec .women-category,
.women-sec .men-category {
  margin: 30px -5px 30px -5px; }
  .women-sec .women-category a,
  .women-sec .men-category a {
    display: block;
    float: left;
    position: relative;
    padding: 5px; }
  .women-sec .women-category a:nth-child(6n+1),
  .women-sec .men-category a:nth-child(6n+1) {
    width: 50%; }
  .women-sec .women-category a:nth-child(2),
  .women-sec .men-category a:nth-child(2) {
    width: 25%; }
  .women-sec .women-category a:nth-child(3),
  .women-sec .men-category a:nth-child(3) {
    width: 25%; }
  .women-sec .women-category a:nth-child(4),
  .women-sec .men-category a:nth-child(4) {
    width: 50%; }
  .women-sec .women-category a:nth-child(5),
  .women-sec .men-category a:nth-child(5) {
    width: 25%; }
  .women-sec .women-category a:nth-child(6),
  .women-sec .men-category a:nth-child(6) {
    width: 25%; }
  .women-sec .women-category a:nth-child(7),
  .women-sec .men-category a:nth-child(7) {
    width: 25%; }
  .women-sec .women-category a:nth-child(8),
  .women-sec .men-category a:nth-child(8) {
    width: 25%; }
  .women-sec .women-category a:nth-child(9),
  .women-sec .men-category a:nth-child(9) {
    padding: 0;
    width: 100%; }
  .women-sec .women-category a:nth-child(10),
  .women-sec .men-category a:nth-child(10) {
    width: 25%; }
  .women-sec .women-category a:nth-child(11),
  .women-sec .men-category a:nth-child(11) {
    width: 25%; }
  .women-sec .women-category a:nth-child(12),
  .women-sec .men-category a:nth-child(12) {
    width: 25%; }
  .women-sec .women-category a:nth-child(13),
  .women-sec .men-category a:nth-child(13) {
    width: 25%; }
  .women-sec .women-category .img-hover,
  .women-sec .men-category .img-hover {
    position: relative;
    overflow: hidden; }
    .women-sec .women-category .img-hover .overlay,
    .women-sec .men-category .img-hover .overlay {
      opacity: 0;
      position: absolute;
      bottom: -50%;
      width: 100%;
      height: 80px;
      background: #aa8140;
      transition: all .6s ease 0s; }
      .women-sec .women-category .img-hover .overlay h4,
      .women-sec .men-category .img-hover .overlay h4 {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        letter-spacing: 1px; }
    .women-sec .women-category .img-hover:hover .overlay,
    .women-sec .men-category .img-hover:hover .overlay {
      opacity: 1;
      bottom: 0;
      transition: all .6s ease 0s; }
.women-sec .frame ul {
  float: left;
  margin-bottom: 0; }
  .women-sec .frame ul li {
    padding: 5px;
    margin: -1px; }
.women-sec .frame ul:nth-child(1) {
  width: 25%; }
.women-sec .frame ul:nth-child(2) {
  width: 50%; }
.women-sec .frame ul:nth-child(3) {
  width: 25%; }

.filter-sec {
  font-family: raleway; }
  .filter-sec .vertical-nav {
    border: none; }
    .filter-sec .vertical-nav li {
      float: none; }
  .filter-sec .vertical-nav li a {
    border-radius: 0;
    color: #fff;
    background: #d8c094;
    border: none;
    text-transform: uppercase; }
  .filter-sec .nav-tabs > li.active > a,
  .filter-sec .nav-tabs > li.active > a:focus,
  .filter-sec .nav-tabs > li.active > a:hover {
    background: #aa8140;
    color: #fff;
    border: none; }
  .filter-sec .nav-tabs > li > a:hover {
    border: none; }
  .filter-sec .interior a {
    float: left;
    display: block;
    position: relative; }
    .filter-sec .interior a:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      border: 4px solid #f6f6f6;
      pointer-events: none;
      box-sizing: border-box; }
  .filter-sec .interior a:nth-child(6n+1),
  .filter-sec .interior a:nth-child(6n+2),
  .filter-sec .interior a:nth-child(6n+6) {
    width: 50%; }
  .filter-sec .interior a:nth-child(6n+3),
  .filter-sec .interior a:nth-child(6n+4),
  .filter-sec .interior a:nth-child(6n+5) {
    width: 25%; }
  .filter-sec .interior a:nth-child(6n+5),
  .filter-sec .interior a:nth-child(6n+6) {
    margin-top: -25%; }
  .filter-sec .interior a:nth-child(6n+6) {
    margin-left: 25%; }

.banner-text-xs {
  display: none; }

.maps {
  width: 100%;
  height: 350px; }

@media only screen and (max-width: 1200px) {
  .category-sec .social {
    margin: 14px 14px 0 0;
    font-size: 12px; }
    .category-sec .social ul {
      margin: 0; }

  .category-sec .color-back h1 {
    margin: 8px 0 0 14px; }
    .category-sec .color-back h1 a {
      font-size: 22px; }

  .filter-sec .vertical-nav li a {
    font-size: 12px; }

  .fashion-sec .style-btn a {
    width: 28%; }

  .crumb li {
    font-size: 10px; }

  .timeline-sec .banner-text h1 {
    font-size: 22px; }
  .timeline-sec .banner-text p {
    font-size: 14px; }

  .cd-timeline-content p {
    font-size: 14px; }

  .cd-timeline-content .cd-date {
    color: #ffffff; } }
@media only screen and (max-width: 992px) {
  .women-sec .women-category a,
  .women-sec .men-category a {
    width: 100% !important; }
  .women-sec .women-category .frame ul,
  .women-sec .men-category .frame ul {
    width: 100% !important; }
  .women-sec .women-category .img-hover .overlay,
  .women-sec .men-category .img-hover .overlay {
    height: 60px; }
    .women-sec .women-category .img-hover .overlay h4,
    .women-sec .men-category .img-hover .overlay h4 {
      font-size: 16px; }
  .women-sec .nav-tabs.nav-justified > li {
    float: left;
    display: block;
    width: 50%; }
  .women-sec .crumb {
    padding: 8px 0; }

  .category-sec .social {
    margin: 10px 14px 0 0; }

  .category-sec .social .social__textlinks li {
    padding: 0; }

  .category-sec .color-back h1 {
    margin: 0px 0 0 14px; }

  .customize-btn, .footer-sec .footer__submit-btn,
  .footer-sec .footer__submit-btn {
    font-size: 12px; }

  .timeline-sec .banner-text h1 {
    font-size: 18px; }
  .timeline-sec .banner-text p {
    font-size: 10px; }

  .footer2 .social-icon,
  .footer2 p {
    text-align: center; }

  .footer-sec .footer2 .social-icon li {
    padding: 0 8px; }

  .footer-sec .footer2 p {
    font-size: 12px; } }
@media only screen and (max-width: 768px) {
  .category-sec .main-flex {
    display: grid; }

  .video1 {
    margin-bottom: -5px; }

  .filter-sec .vertical-nav li {
    float: left;
    margin-bottom: -1px;
    display: block;
    width: 33.33%;
    text-align: center; }

  .interior {
    margin-top: 26px; }

  .filter-sec .interior a {
    width: 100% !important;
    margin: 0 !important; }
    .filter-sec .interior a img {
      width: 100%; }

  .banner-text {
    display: none; }

  .banner-text-xs {
    display: block;
    color: #000; }
    .banner-text-xs h1 {
      font-size: 20px; }
    .banner-text-xs p {
      font-size: 10px; } }
@media only screen and (max-width: 480px) {
  .home-sec {
    padding: 0 44px 44px 44px; }

  .logo .custom-logo {
    width: 180px; }

  .home-block {
    margin-bottom: 40px; }

  .women-modal {
    padding: 8px; }
    .women-modal p {
      font-size: 10px; }

  .category-sec .categ-block .categ-block__name h4 {
    font-size: 12px; }

  .fashion-sec .style-btn a {
    float: none !important;
    display: block;
    margin-bottom: 10px;
    width: auto; }

  .fashion-sec .bottom-marg h1 {
    font-size: 30px; }

  .filter-sec .vertical-nav li {
    float: none;
    width: 100%; }

  .cd-timeline-content h2 {
    font-size: 16px;
    margin-top: 0; }

  .cd-timeline-content p {
    font-size: 10px; }

  .cd-timeline-content .cd-date {
    padding: 0; }

  .cd-timeline-content .cd-read-more {
    font-size: 10px; }

  .cd-timeline-content::before {
    content: '';
    top: 12px;
    border: 8px solid transparent;
    border-right: 8px solid #aa8140; }

  #cd-timeline::before {
    content: '';
    top: 0; }

  .timeline-sec .padd44 {
    padding: 0 15px; }

  .banner-text {
    display: none; } }

/*# sourceMappingURL=main.css.map */
