@media only screen and (max-width:1200px) {
    .category-sec .social {
        margin: 14px 14px 0 0;
        font-size: 12px;
        ul {
            margin: 0;
        }
    }
    .category-sec .color-back h1 {
        margin: 8px 0 0 14px;
        a {
            font-size: 22px;
        }
    }
    .filter-sec .vertical-nav li a {
        font-size: 12px;
    }
    .fashion-sec .style-btn a {
        width: 28%;
    }
    .crumb li {
        font-size: 10px;
    }
    .timeline-sec .banner-text {
        h1 {
            font-size: 22px;
        }
        p {
            font-size: 14px;
        }
    }
    .cd-timeline-content p {
        font-size: 14px;
    }
    .cd-timeline-content .cd-date {
        color: #ffffff;
    }
}

@media only screen and (max-width:992px) {
    .women-sec {
        .women-category,
        .men-category {
            a {
                width: 100% !important;
            }
            .frame ul {
                width: 100% !important;
            }
            .img-hover {
                .overlay {
                    height: 60px;
                    h4 {
                        font-size: 16px;
                    }
                }
            }
        }
        .nav-tabs.nav-justified>li {
            float: left;
            display: block;
            width: 50%;
        }
        .crumb {
            padding: 8px 0;
        }
    }
    .category-sec .social {
        margin: 10px 14px 0 0;
    }
    .category-sec .social .social__textlinks li {
        padding: 0;
    }
    .category-sec .color-back h1 {
        margin: 0px 0 0 14px;
    }
    .customize-btn,
    .footer-sec .footer__submit-btn {
        font-size: 12px;
    }
    .timeline-sec .banner-text {
        h1 {
            font-size: 18px;
        }
        p {
            font-size: 10px;
        }
    }
    .footer2 {
        .social-icon,
        p {
            text-align: center;
        }
    }
    .footer-sec .footer2 .social-icon li {
        padding: 0 8px;
    }
    .footer-sec .footer2 p {
        font-size: 12px;
    }
}

@media only screen and (max-width:768px) {
    .category-sec .main-flex {
        display: block;
    }
    .video1 {
        margin-bottom: -5px;
    }
    .filter-sec .vertical-nav li {
        float: left;
        margin-bottom: -1px;
        display: block;
        width: 33.33%;
        text-align: center;
    }
    .interior {
        margin-top: 26px;
    }
    .filter-sec .interior a {
        width: 100% !important;
        margin: 0 !important;
        img {
            width: 100%;
        }
    }
    .banner-text {
        display: none;
    }
    .banner-text-xs {
        display: block;
        color: #000;
        h1 {
            font-size: 20px;
        }
        p {
            font-size: 10px;
        }
    }
}

@media only screen and (max-width:480px) {
    .home-sec {
        padding: 0 44px 44px 44px;
    }
    .logo .custom-logo {
        width: 180px;
    }
    .home-block {
        margin-bottom: 40px;
    }
    .women-modal {
        padding: 8px;
        p {
            font-size: 10px;
        }
    }
    .category-sec .categ-block .categ-block__name h4 {
        font-size: 12px;
    }
    .fashion-sec .style-btn a {
        float: none !important;
        display: block;
        margin-bottom: 10px;
        width: auto;
    }
    .fashion-sec .bottom-marg h1 {
        font-size: 30px;
    }
    .filter-sec .vertical-nav li {
        float: none;
        width: 100%;
    }
    .cd-timeline-content h2 {
        font-size: 16px;
        margin-top: 0;
    }
    .cd-timeline-content p {
        font-size: 10px;
    }
    .cd-timeline-content .cd-date {
        padding: 0;
    }
    .cd-timeline-content .cd-read-more {
        font-size: 10px;
    }
    .cd-timeline-content::before {
        content: '';
        top: 12px;
        border: 8px solid transparent;
        border-right: 8px solid #aa8140;
    }
    #cd-timeline::before {
        content: ''; // z-index: -1;
        top: 0;
    }
    .timeline-sec {
        .padd44 {
            padding: 0 15px;
        }
    }
    .banner-text {
        display: none;
    }
}