@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: 'ralewayThin';
    src: url('../fonts/Raleway-Thin.ttf');
}

// Fonts variables here
$primary-color: #aa8140;
.marg0 {
    margin: 0;
}

.width100 {
    width: 100%;
}

.padd0 {
    padding: 0;
}

.relate {
    position: relative;
}

.display-inblock {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: raleway;
}

.logo {
    padding: 50px 0 50px;
    .custom-logo {
        width: 252px;
        margin: 0 auto;
    }
}

// global filter for all images just extend when in need
// .home-block__img {
//     margin: 0 auto;
//     filter: grayscale(100%);
//     transition: all ease 2s;
//     &:hover {
//         filter: grayscale(0);
//         transition: all ease 2s;
//     }
// }
// END global filter for all images just extend when in need
.home-block {
    .home-block__img {
        margin: 0 auto;
        filter: grayscale(100%);
        transition: all ease 2s;
        &:hover {
            filter: grayscale(0);
            transition: all ease 2s;
        }
    }
    cursor: pointer;
    h4 {
        text-align: center;
        text-transform: uppercase;
        color: $primary-color;
        margin: 20px 0;
    }
}

.category-sec {
    .padd44 {
        padding: 0 44px 44px 44px;
    }
    .categ-block {
        .categ-block__name {
            position: absolute;
            top: 50%;
            left: 4%;
            transform: translate(0%, -50%);
            color: #fff;
            font-family: raleway;
            text-transform: uppercase;
        }
        .categ-block__img {
            margin: 0 auto;
            filter: grayscale(100%);
        }
        .overlay {
            opacity: 0;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            transition: all ease 2s;
        }
        &:hover {
            .overlay {
                opacity: 1;
                transition: all ease 2s;
            }
        }
    }
    .video {
        background: #808080;
        min-height: 430px;
        .play-center {
            font-size: 54px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .color-back {
        background: $primary-color; // min-height: 159px;
        h1 {
            color: #fff;
            margin: 32px 0 0 14px;
            text-transform: uppercase;
        }
    }
    .social {
        margin: 32px 14px 0 0;
        .social__textlinks {
            li {
                text-align: right;
                padding: 2px 0;
                a {
                    color: #fff;
                    font-family: raleway;
                    letter-spacing: 2px;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    } // flex css
    .main-flex {
        display: flex;
        flex-wrap: no-wrap;
        height: 100%;
        .col-flex {
            flex: 1;
        }
    }
}

// ----------------------------------------------------------
.video1 {
    height: 100%;
    width: 100%; // color: black;
}

// Fashion Page Scss Here
.fashion-sec {
    font-family: raleway;
    .crumb {
        background: transparent; // font-family: raleway;
    }
    .style-block {
        .style-block__name,
        .style-block__color {
            li:first-child {
                min-width: 18%;
            }
        }
        .style-block__color {
            li {
                span {
                    width: 22px;
                    height: 22px;
                    display: block;
                    background: #dedede;
                    border: 1px solid #000;
                }
                span:nth-child(1) {
                    background: #f1016c;
                }
                span:nth-child(2) {
                    background: #f97c59;
                }
            }
            .color-box {
                span {
                    display: inline-block;
                    vertical-align: bottom;
                }
            }
        }
    }
    .bottom-marg {
        margin-bottom: 40px;
        h1,
        h4 {
            color: $primary-color;
            font-weight: 700;
            margin: 10px 0;
        }
    }
}

.customize-btn {
    font-family: raleway;
    background: $primary-color;
    color: #fff;
    letter-spacing: 1px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    width: 20%;
    &:hover,
    &:focus,
    &:active {
        background: #947138;
        color: #fff;
        outline: none;
    }
}

.customize-btn.active.focus,
.customize-btn.active:focus,
.customize-btn.focus,
.customize-btn:active.focus,
.customize-btn:active:focus,
.customize-btn:focus {
    outline: none;
    border-radius: 8px;
    background: #947138;
    color: #fff;
}

// footer css here
.footer-sec {
    .footer1 {
        padding: 44px;
        .mt80 {
            margin-top: 80px;
        }
    }
    .footer2 {
        padding: 0px 44px 22px;
        .social-icon {
            li {
                padding: 0 20px 0 0;
                a {
                    color: #fff;
                    font-size: 30px;
                }
            }
        }
        p {
            color: #fff;
            letter-spacing: 1px;
            font-family: raleway;
            a {
                color: #fff;
            }
        }
    }
    .footer__submit-btn {
        @extend .customize-btn;
        background: #fff;
        color: $primary-color;
        width: 30%;
    }
    background: $primary-color;
    h3 {
        color: #fff;
        letter-spacing: 1px;
    }
    .font-icon {
        li {
            position: relative;
            p {
                // font-size: 16px;
                color: #fff;
                padding: 16px 40px 0;
                font-family: raleway;
                a {
                    color: #fff;
                }
            }
            &:before {
                font-family: FontAwesome;
                position: absolute;
                top: 8px;
                left: 0;
                color: #fff;
                font-size: 26px;
            }
        }
        li:nth-child(1):before {
            content: '\f041';
        }
        li:nth-child(2):before {
            content: '\f095';
        }
        li:nth-child(3):before {
            content: '\f0e0';
        }
    }
}